<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=DyPxVV3ifOhgt-WvvnmwiBxmNMHmI2yEKiR7PSTJ_BW8kHEMKuFEVOholoOJoaS8iow9eC5ITFOs6aYvXXTJCrPvqDiTgYwtIqNrisJ-aRpo4iM7Brj11nAFckc28ey5QGCyiO4E2CatycLCYU_CkjOMrlAep-qD7hR92iAi-qJiOJgNkmSWACuUZ0j1iZHWN78mOIJ2aNp52GRca6H2CegkIAeerTGtPuM5fXIOIJ4i0cf3y4Ym6wufLP_JbKQC5n5xtjvY2V0YKnBfR6fbyQ" charset="UTF-8"></script></head>
<body>
    <h1>Dashboard</h1>
    <p th:if="${message}" th:text="${message}"></p>
</body>
</html>
