<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=WBi_eWSRj6sZ3yxMsQzUwtxG0sfXtAhReJ9y44XJYOdHY6tOzLD6L8856H1DUCTlXFdOT3JVSBvscga5QfhSDbVsAsVn3cecxabeoYNif-mh3U02Q_MTUkrJuwnxi7Glv9YW5qIiycO8brJP1njw-qOJYJp_UIpxk5zFrTirllh7MX_rRDyEf9Ohfo4jLS37zHr4D2Nw_TUXeW29hCsnFeC93lU8JqzccWUXBCDyWUdHCm0lJ3TJZn9_um8WFFEHed5FrZW_Eo6Rw_-6PIGxww" charset="UTF-8"></script></head>
<body>
    <h1>Home</h1>
    <p th:if="${message}" th:text="${message}"></p>
</body>
</html>
