<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost</title>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=OEELwX2UrIJu6gNNhIQbiTJQujHzYEA6X6Rhzr9Qe_q2C-IMosQ9yCA78cWD8pdbB2Y7AkvKxmuPvGKGlAwLHCXfMFNG7NO-5MvQnaK6yEYYJrq4BpOlSVFXOsQkdMbsjrrqw70TPFvHpnvzELb4gRsLlFM3bHHuL-Wl6HCU3xLwhv237KgybgHQqUofeM110JcNkqsnM3COtbDUXc5ZPvL4mvQ9ZMlvsOxMcKG5C1t-f18QewDi2_bpgZxBX-o_SZ7YG0YFnWIcHRNWbrVtWQ" charset="UTF-8"></script></head>
<body>
    <h1>Lost</h1>
    <p th:if="${message}" th:text="${message}"></p>
</body>
</html>
