<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=fjEY1aMXNy3shtusAKpDMbvbtllebpc3od7Mhh60y04xbUIpBRWKTUwOXcbx7P8vmmruM1NJZY5N8i6QgQafLOrm3h4NwbSA7wbNPTDUEZiXVaz_TcyINkn6g6WwKfp3iwMGCkqLB-okLnqakMe4TcmTAG7sqhNn71x_QbNXsqXvGOEz5RC65GYLCpcTDIZdTe6Fl9UCP4VE6npryVB2kjc6QjA8ZTLjeIoTWBivXeNuD6Vs-D1U4aqpoOToJwy1F9bAxzkX4IvRh_cWYsptcA" charset="UTF-8"></script></head>
<body>
    <h1>Register</h1>
    <p th:if="${message}" th:text="${message}"></p>
</body>
</html>
