<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track</title>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=rIAUtOVoAfGHdY3p9rXlpY1CrROOxivHPN3352Z7VHVmSpdYn-G-Pfqf8xqHqz2qaFQeiYy_n4MgO4ivivhTszUWU_oVcJKszXfsuOi91P0Gh5B1PxHM5TXCS8gKIswXc-WuFBYQvLa4CTDwBNdxZ7oXtr0OukwoSD6N-LSBZFjDzPTIcPu3Ecfit1m8GKwUaHWcYUrHTdujpty4A-p-ndKMQ9ds1J8cjAdx0vRcnRd576g9gq-rDQvKfW6oZK7VWZTmnobndfUf5_xOeKjVDA" charset="UTF-8"></script></head>
<body>
    <h1>Track</h1>
    <p th:if="${message}" th:text="${message}"></p>
</body>
</html>
